flow1
[
    {
        "id": "291cbc1c.937914",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6c387e61.e5c88",
        "type": "rpi-gpio out",
        "z": "291cbc1c.937914",
        "name": "LED",
        "pin": "7",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 570,
        "y": 320,
        "wires": []
    },
    {
        "id": "c6749955.3c77f8",
        "type": "debug",
        "z": "291cbc1c.937914",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 320,
        "y": 200,
        "wires": []
    },
    {
        "id": "9f53e516.af0b48",
        "type": "rpi-gpio in",
        "z": "291cbc1c.937914",
        "name": "Button",
        "pin": "16",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 90,
        "y": 260,
        "wires": [
            [
                "c6749955.3c77f8",
                "171b132f.fe74fd"
            ]
        ]
    },
    {
        "id": "171b132f.fe74fd",
        "type": "switch",
        "z": "291cbc1c.937914",
        "name": "if input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 280,
        "wires": [
            [
                "9848fe5.6e912"
            ],
            [
                "fb420aa2.ace588"
            ]
        ]
    },
    {
        "id": "9848fe5.6e912",
        "type": "change",
        "z": "291cbc1c.937914",
        "name": "Change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "6c387e61.e5c88"
            ]
        ]
    },
    {
        "id": "fb420aa2.ace588",
        "type": "change",
        "z": "291cbc1c.937914",
        "name": "Change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 360,
        "wires": [
            [
                "6c387e61.e5c88"
            ]
        ]
    }
]
